<div class="wrapper">
    <div class="body">
     <img class="logo" src="../../../assets/img/registrar.png" alt="Inicio de Sección">
     <h1>Registro Usuario</h1>
   
    <form >
        <div class="form-floating mb-3">
            <input type="text" class="form-control"  placeholder="Milton Tarsian ">
            <label >Nombre</label>
          </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control"  placeholder="Garcia Payero">
            <label >Apellido</label>
          </div>

       <div class="form-floating mb-3">
           <input type="email" class="form-control"  placeholder="name@example.com">
           <label >Correo Electronico</label>
         </div>

         <div class="form-floating mb-3">
           <input type="password" class="form-control"  placeholder="Password">
           <label >Contraseña</label>
         </div>

         <div class="form-floating mb-3">
            <input type="password" class="form-control"  placeholder="Password">
            <label > Repetir Contraseña</label>
          </div>


         <div class="d-grid gap-2 col-6 mx-auto">
           <button class="btn btn-primary btn-lg" type="button">Crear Cuenta</button>
           
         </div>
         <p class="mt-3">Ya tienes una cuenta <a routerLink="/login">Inicia Sesión</a></p>
         
         
    </form>
    </div>
   </div>
