.Titulo
{
    background-image: url(../../assets/img/verde.jpg);
}
.banner-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  
  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  
  .banner-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
  }
  