<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio - DTEA - Materias</title>
	<!-- Agregamos los archivos de CSS de Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
	<style>
		body {
			padding-top: 5rem;
		}
	</style>
</head>
<body>
	<!-- Creamos el menú de navegación -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<img class="logo" src="../../../assets/img/LOGO.jpg" alt="">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
		</div>
		
		<button class="btn-dark" (click)="logout()">cerrar sesión</button>
	</nav>

	<div class="containerM">
		<section id="matematicas">
			<div class="row">
				<div class="col-md-6">
					<h2>Matemáticas</h2>
					<p>En esta sección encontrarás información sobre matemáticas, sus características y aplicaciones.</p>
					<ul>
						<li>Álgebra</li>
						<li>Geometría</li>
						<li>Aritmética</li>
					</ul>
					<p>Si quieres ir a la sección de matematicas dale click al siguiente boton</p>
					<button routerLink="/matematicas" type="button" class="btn btn-danger">Sesión de matematicas</button>

				</div>
				<div class="col-md-6">
					<img src="../../../assets/img/mate.jpg" alt="Imagen de matemáticas" class="img-fluid">
				</div>
			</div>
		</section>

		<section id="naturales">
			<div class="row">
				<div class="col-md-6">
					<h2>Ciencias naturales</h2>
					<p>En esta sección encontrarás información sobre ciencias naturales, sus ramas y aplicaciones.</p>
					<ul>
						<li>Física</li>
						<li>Química</li>
						<li>Biología</li>
					</ul>
					
					<button routerLink="/socia" type="button" class="btn btn-success">Ir a ciencias naturales</button>
				</div>
				<div class="col-md-6">
					<img src="../../../assets/img/naturales.jpg" alt="Imagen de ciencias naturales" class="img-fluid">
				</div>
				</div>
				</section>
				<section id="espanol">
					<div class="row">
						<div class="col-md-6">
							<h2>Lengua española</h2>
							<p>En esta sección encontrarás información sobre la lengua española, su gramática y ortografía.</p>
							<ul>
								<li>Gramática</li>
								<li>Ortografía</li>
								<li>Vocabulario</li>
							</ul>
							
							<p>Ir a la seccion de lengua española </p>
							<button routerLink="/lengua" type="button" class="btn btn-primary">Ir a Lengua española</button>
						</div>
						<div class="col-md-6">
							<img src="../../../assets/img/lengua.jpg" alt="Imagen de lengua española" class="img-fluid">
						</div>
					</div>
				</section>
			
				<section id="sociales">
					<div class="row">
						<div class="col-md-6">
							<h2>Ciencias sociales</h2>
							<p>En esta sección encontrarás información sobre ciencias sociales, su historia y desarrollo.</p>
							<ul>
								<li>Historia</li>
								<li>Economía</li>
								<li>Sociología</li>
							</ul>
							
							<button routerLink="/ciencia" type="button" class="btn btn-warning">Ir a ciencias sociales </button>
						</div>
						<div class="col-md-6">
							<img src="../../../assets/img/sociales.jpg" alt="Imagen de ciencias sociales" class="img-fluid">
						</div>
					</div>
				</section>
			</div>
			
			<!-- Agregamos los archivos de JavaScript de Bootstrap -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
			
			
