img{
    border: 5px solid #000;
    height: 6cm;
    width: 6cm;
}

body{
    background-image: url(https://ae01.alicdn.com/kf/HTB1ZvCkQXXXXXabaXXXq6xXFXXXi/Fondo-HUAYI-Sky-para-estudio-fotogr-fico-fondo-para-ni-os-Fondo-de-fotograf-a-para.jpg_Q90.jpg_.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

button{
    background-color: #100cd6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

