<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Plataforma DTEA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
          <link rel="shortcut icon" href="../../../assets/img/icono.ico" type="image/x-icon">
</head>
<body>
    <!-- Menú -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DTEA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registrar"> Registrarse</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Objetivos y metas -->
    <section class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Objetivos</h2>
                <ul>
                    <li>Proporcionar una plataforma de aprendizaje atractiva y adaptada a las necesidades de los niños
                        con problemas de atención en el aprendizaje.
                    </li>
                    <li>Fomentar la participación activa y el interés de los niños en el proceso de aprendizaje.</li>
                    <li>Ofrecer recursos didácticos y herramientas tecnológicas para el aprendizaje de diferentes
                        materias.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Metas</h2>
                <ul>
                    <li>Mejorar la atención y la concentración de los niños en el aula y en casa.</li>
                    <li>Promover el aprendizaje autónomo y el desarrollo de habilidades sociales y emocionales.</li>
                    <li>Contribuir al éxito escolar y al desarrollo integral de los niños.</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Imágenes y videos de ejemplos -->
    <section class="container-fluid bg-light my-5 py-5" >
        <div class="container" style="background-image: url(https://album.es/fotos/uploads/imagenes/thumbs/fondo-escolar-hofmann-para-album-classic-pinturas_escolares-19-classic_1200px.jpg);" >
            <div class="row">
                <div  class="col-md-6" style="border: 3px solid #000;">
                    <h2>Propuestas</h2>
                    <p style="font-size: 150%;">                 En DTEA nos enfocamos en crear herramientas y recursos interactivos que ayuden a los niños con problemas de atención a aprender de manera efectiva y divertida. En nuestra plataforma encontrarás una variedad de recursos educativos, incluyendo juegos, videos explicativos y actividades interactivas.

                    Nuestros juegos están diseñados para cubrir diferentes materias escolares, desde matemáticas y ciencias hasta historia y lengua. Cada juego cuenta con una descripción y una explicación en video para que los niños puedan entender de qué se trata antes de empezar a jugar.

                    ¡Explora nuestra plataforma y descubre todo lo que podemos ofrecer para ayudarte a mejorar tu aprendizaje!

                </p>

                <p>
                </p>
                <a href="https://dtea.netlify.app/">
                <button class="button button1" a>Descubre mas de nosotros aqui!</button>
                 </a>

                 <a routerLink="/registrar">
                    <button class="button button1" a>Unete a nosotros aqui!</button>
                     </a>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <img src="http://1.bp.blogspot.com/-zCuqc8eieg0/UEs1jQhwHNI/AAAAAAAACA8/1eJWUicFg1U/s1600/1308200930_216159722_1-Fotos-de--123Mate-Online-Clases-de-Matematicas-Presencial-y-Online.jpg" class="img-fluid" alt="Juego de Matemáticas" >
                        <h4>Juego de Matemáticas</h4>
                        <p>Este juego ayuda a los niños a practicar operaciones matemáticas básicas, como la suma,
                            resta, multiplicación y división.</p>
                    </div>
                    <div class="col-md-6 mb-4">
                        <img src="https://d3lqdljps13i2n.cloudfront.net/recursos/99/3174264/imagen_1_1504056970.jpg" class="img-fluid" alt="Juego de Ciencias" >
                        <h4>Juego de Ciencias</h4>
                        <p>Este juego enseña conceptos básicos de ciencias, como el ciclo del agua y los diferentes
                            estados de la materia.</p>
                    </div>
                    <div class="col-md-6 mb-4">
                        <img src="https://previews.123rf.com/images/orensila/orensila1608/orensila160800032/61886272-owl-maestro-y-el-globo-aislado-en-blanco-vector-ilustración-de-dibujos-animados.jpg" class="img-fluid" alt="Juego de Historia" >
                        <h4>Juego de Historia</h4>
                        <p>Este juego ayuda a los niños a aprender sobre hechos históricos importantes de una manera
                            interactiva y entretenida.</p>
                    </div>
                    <div class="col-md-6 mb-4">
                        <img src="https://sites.google.com/a/educacion.navarra.es/elrincon/_/rsrc/1416064231689/asignatura/lengua/LENGUAJE.png?height=267&width=400" class="img-fluid" alt="Juego de Lengua">
                        <h4>Juego de Lengua</h4>
                        <p>Este juego enseña habilidades de lectura y escritura, como la comprensión lectora y la
                            gramática.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark text-light py-3">
    <div class="container">
        <p class="m-0 text-center">&copy; DTEA 2023</p>
    </div>
</footer>



