<div class="wrapper">
    <div class="body">
     <img class="logo" src="../../../assets/img/olvido.png" alt="Inicio de Sección">
     <h1>Recuperar Contraseña</h1>
   
     <p>Enviaremos un correo Electronico al correo con que te registraste</p>
    <form >
       <div class="form-floating mb-3">
           <input type="email" class="form-control"  placeholder="name@example.com">
           <label >Correo Electronico</label>
         </div>

         <div class="d-grid gap-2 col-6 mx-auto">
           <button class="btn btn-primary btn-lg" type="button">Enviar Correo</button>
           
         </div>
   
         <p class="mt-3">Ya tienes tu contraseña <a routerLink="/registrar">Inicia Sesión</a></p>
        
         
    </form>
    </div>
   </div>
   
